.speech{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(25, 247, 54);
}
.stage-direction{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(250, 131, 160);
    background-color:lightpink;
}
.name{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(0, 0, 0);  
}
.stage-direction:hover{
    color:rgb(76, 0, 255);
    background-color:rgb(200, 255, 0);
}
.PRINCE PETRO{
    color:darkorchid;
}
.PAUL{
    color: rgb(204, 50, 50);
}
.R.Still{
    color: coral;
}
.CZARE{
    color:darkgreen;

}
.COUNT R{
    color:rgb(119, 55, 204);  
}
table{
    border:1px solid black;
    padding: 45px 30px 50px;
    margin: 25px 50px 75px 100px;
    width:50%;
}
th{
    color: black;
    border: 1px solid black;
    text-align: center;
    padding: 45px 30px 50px;
    background-color:rgba(201, 110, 133, 0.61);
}
td{
    color:rgb(163, 106, 42);
    border: 1px solid black;
    padding: 45px 30px 50px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: rgb(231, 168, 226);
}
.name:hover{
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.822);
    color:rgba(0, 255, 242, 0.884);
    filter: blur(3px);
    border: solid 2px rgb(233, 154, 154);
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    color:#000;
    background-color: darkviolet;
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
    color: rgba(255, 255, 240, 0.911);
}
ul.navbar-horizontal a:hover {
    background-color: darkslateblue;
    color:yellowgreen;
}