.speech{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(25, 247, 54);
}
.stage-direction{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(250, 131, 160);
    background-color:lightpink;
}
.name{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: rgb(0, 0, 0);  
}
.stage-direction:hover{
    color:rgb(76, 0, 255);
    background-color:rgb(200, 255, 0);
}
.PRINCE PETRO{
    color:darkorchid;
}
.PAUL{
    color: rgb(204, 50, 50);
}
.R.Still{
    color: coral;
}
.CZARE{
    color:darkgreen;
}

